<div class="flex center justify-content-center gap-8 w-full">
  <div class="user-menu w-2 flex justify-content-center">
    AQUI FICA O USER MENU

    <app-user-menu></app-user-menu>

  </div>

  <div class="feed w-5 flex justify-content-center">
    AQUI FICA O FEED

    <!-- COMEÇAR A RENDERIZAR COMPONENTES AQUI -->

    <app-user-feed></app-user-feed>


  </div>

  <div class="side-info w-2 flex justify-content-center">
    AQUI FICA O SIDE INFO

    <!-- COMEÇAR A RENDERIZAR COMPONENTES AQUI -->

    <app-side-info></app-side-info>

  </div>

</div>
