<div class="ml-8 mr-8">
  <app-header></app-header>

  <div class="flex center justify-content-center w-full pl-7 pr-7">
    <div class="user-menu w-5 flex justify-content-center">
      <!-- COMEÇAR A RENDERIZAR COMPONENTES AQUI -->

      <app-user-menu></app-user-menu>
    </div>

    <div class="feed w-full flex justify-content-center">
      <!-- COMEÇAR A RENDERIZAR COMPONENTES AQUI -->

      <app-user-feed></app-user-feed>
    </div>

    <div class="side-info w-5 flex justify-content-center">
      <!-- COMEÇAR A RENDERIZAR COMPONENTES AQUI -->

      <app-side-info></app-side-info>
    </div>
  </div>
</div>
